*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:  sans-serif;
    background: #f1f1f1 ;
}
/* **************navigation******************* */
.navigation{
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    min-height: 650px;
    background-image: url(../ressources/baground-menus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px dashed #f1f1f1;
    z-index: 5;
}

.details-menu{
    width: 100%;
    height: 10%;
    /* le contenu sera centré en axe X et Y  */
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.details-menu span{
    font-size: 19px;
    text-align: center;
    position: relative;
    font-weight: 700;
    cursor: pointer;
}
.details-menu span a{
    text-decoration: none;
    color: #f1f1f1;
}
/* animation sur les items de menu */
.details-menu span::after{
    content: '';
    display: block;
    width: 0px;
    margin: 5px auto 0 auto;
    height: 2px;
    background: #f1f1f1;
    transition: all 0.2s ;
}
.details-menu span:hover::after{
    width: 100%;
}
/* *************************************** */
/* .details-menu span a:hover{
    background: rgb(236, 231, 231);
    color: black;
    padding: 10px;
    border-radius: 5px;
} */
/* ****************photo**************************/
.details-menu:nth-child(1){
    width: 100%;
    height: 25%;
}
.photo{
    border-radius: 10%;
}
.icon-contact img{
    width: 60px;
}
/* *************************************************** */
@media screen and (max-width: 1300px) {
    .navigation{
        left: -300px !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 300px;
        width: 250px;
    }
     /* a chaque fois selectionez le 7eme element a partir du premier */
     .details-menu:nth-child(7n+1){
        display: none;
    }
    .navigation{
        left: -300px !important;
    }
    .menu-visible{
        left: 0px !important;
        display: flex;
        justify-content: space-evenly;
        min-height: 900px;
    }
    .btn-rond{
        width: 70px;
        height: 70px;
        border: 1px solid #f1f1f1;
        border-radius: 50%;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(7, 21, 51);
    }
    .cont-lignes{
        width: 35px;
        height: 35px;
        cursor: pointer;
        position: relative;
        top: 0;
        left: 0;
    }
    .btn-ligne-unique{
        width: 100%;
        height: 4px;
        background: #f1f1f1;
        position: absolute;
        top: 15px;
        bottom: 15px;
        border-radius: 5px ;
    }
    .btn-ligne-unique::after{
        content: '';
        height: 4px;
        position: absolute;
        width: 100%;
        top: 10px;
        background: #f1f1f1;
        border-radius: 5px ; 
    }
    .btn-ligne-unique::before{
        content: '';
        height: 4px;
        position: absolute;
        width: 100%;
        bottom: 10px;
        background: #f1f1f1;
        border-radius: 5px ; 
    }
    .active .btn-ligne-unique{
        background: transparent;
        color: #f1f1f1;
        font-size: 50px;
        top: -9px;   
    }
    .active .btn-ligne-unique::before{background: transparent;}
    .active .btn-ligne-unique::after{background: transparent;}
   
    .invisible{
        display: none;
    }
}
/* ************************accueil********************************* */
.accueil{
    background: url("../ressources/images1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 650px;
    background-position: right;
    width: calc (100% - 300px);
    margin-left: 300px;
    position: relative;
}
h1{
    font-size: 60px;
    font-family: 'Abril Fatface', sans-serif;
    color: #f1f1f1;
    margin: 0 60px;
    padding-top: 100px;
}

.txt-accueil{
    font-size: 30px;
    color: #f1f1f1;
    margin: 10px 0 10px 60px;
}
.btn-acc{
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background: url("../ressources/baground-menu.jpg");
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
    margin: 15px 5px 0 0;
    border-radius: 2px;
    border: 2px solid #f1f1f1;
    font-size: 18px;
}
.btn-acc:hover{
    transform: scale(1.06);
}
.medias{
    display: flex;
    margin: 30px 0 0 60px;
}
.icone-medias{
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.logo-btn-rond-acc{
    width: 70px;
    height: 70px;
    margin-left: 60px;
    bottom: 20px;
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(0, 89, 255);
    cursor: pointer;
}
.logo-btn-rond-acc:hover{
    transform: scale(1.1);
}
/* *************media Accueil************************** */

@media screen and (max-width: 1300px) {
    .accueil{
    width: 100%;
    background-position: cover;
    margin-left: 0;
    }
    .active .btn-ligne-unique {
        background: transparent;
        color: #f1f1f1;
        font-size: 50px;
        top: -16px;
        text-align: center;
    }
}
@media screen and (max-width: 1000px) {
    .accueil{
    height: 700px;
    min-height: 0;
    }
    h1{
        font-size: 70px;
        margin: 0 30px 0 30px;
        padding-top: 100px;
    }
    .txt-accueil{
        margin: 20px 0 20px 30px;
    }
    .btn-acc1{
        margin: 10px 0 0 0px;
    }
    .medias{
        margin-left: 30px;
    }
    .logo-btn-rond-acc{
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .accueil{
        height: 600px;
    }
    .h1{
        font-size: 50px;
        margin: 0 30px;
    }
    .txt-accueil{
        font-size: 20px;
    }
    .txt-animation{
        font-size: 17px;
    }
    .btn-rond{
        width: 60px;
        height: 60px;
    }
    .cont-lignes{
        width: 30px;
        height: 30px;
        top: 0;
        left: 0;
    }
    .btn-ligne-unique {
        width: 100%;
        height: 4px;
        background: #f1f1f1;
        position: absolute;
        top: 12px;
        bottom: 15px;
    }
    .media{
        width: 40px;
        height: 40px;
        width: 60px;
        height: 60px;
        background: #333;
        border-radius: 50%;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .active .btn-ligne-unique {
        background: transparent;
        color: #f1f1f1;
        font-size: 40px;
        top: -7px;
        text-align: center;
    }   
}
@media screen and (max-width: 500px) {
    .h1{
        font-size: 35px;
    }
    .txt-accueil{
        font-size: 16px;

    }
    .btn-rond{
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cont-lignes{
        width: 30px;
        height: 30px;
        top: 0;
        left: 0;
    }
    .btn-acc{
        width: 120px;
        font-size: 13px;
        margin: 10px 0 0 5px;
        height: 40px;
    }
    .media{
        width: 40px;
        height: 40px;
        width: 60px;
        height: 60px;
        background: #333;
        border-radius: 50%;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .icone-medias{
        border-radius: 50%;
        margin-right: 10px;
        width: 40px;
    }
    .btn-acc1{
        margin: 10px 0 0 30px;
    }
    .btn-acc3{
        margin: 10px 0 0 95px;
    }
    .btn-ligne-unique {
        width: 100%;
        height: 4px;
        background: #f1f1f1;
        position: absolute;
        top: 15px;
        bottom: 15px;
        border-radius: 5px;}
    .active .btn-ligne-unique {
        background: transparent;
        color: #f1f1f1;
        font-size: 40px;
        top: -7px;
        text-align: center;
    }
}
@media screen and (max-width: 450px) {
    .btn-rond{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cont-lignes{
        width: 20px;
        height: 35px;
    }
    .btn-ligne-uniques {
        height: 3px;
    }
    .btn-ligne-unique::before {
        bottom: 8px;
        height: 3px;
    }
    .btn-ligne-unique::after {
        top: 8px;
        height: 3px;
    }
    .accueil {
        height: 500px;
        text-align: center;
    }
    h1 {
        font-size: 35px;
        margin: 0 30px 0 5px;
        padding-top: 120px;
    }
    .txt-accueil {
        margin: 30px 0 0 5px;
    }
    .btn-acc {
        width: 100px;
        font-size: 12px;
        height: 35px;
        margin: 30px 0 0 5px;
    }
    .medias {
        margin-top: 30px;
        margin-left: 5px;
        justify-content: center;
    }
    .icone-medias {
        width: 40px;
    }
    .active .btn-ligne-unique {
        background: transparent;
        color: #f1f1f1;
        font-size: 40px;
        top: -7px;
        text-align: center;
    }
}
/* ************media pour txt-animation******** */
@media screen and (max-width: 380px) {
    .txt-animation{
        font-size: 15px!important;
    }
}
@media screen and (max-width: 370px) {
    .txt-animation{
        font-size: 13px!important;
    }
}
/* ************Section présentation******** */
.presentation{
    width: 100%;
    position: relative;
    overflow: hidden;
    border-top: 1px dashed #333 ;
    border-bottom: 1px dashed #333 ;
    color: #e7e7e7;
}
.fond-forme{
    background: #485563;
    background-image: linear-gradient(to right, #010711, #093869) ;
    width: 2330px;
    height: 1000px;
    position: absolute;
    transform:  rotate(-45deg) translateX(100px) translateY(-15px);
    z-index: -1;
}
.titre-presentation{
    font-size: 40px ;
    text-align: center;
    margin:50px 0 70px 0;
    padding-left: 300px;
}
.container-presentation{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0 150px 0;
    flex-shrink: 0;
    padding-left: 300px;
}
.presentation-gauche{
    width: 600px;
    flex-shrink: 0;
    margin-bottom: 50px;
    padding-left: 120px;
    padding-top: 20;
}
.presentation-gauche h3{
   text-align: center;
   font-size: 25px;
   letter-spacing: 2px;
}
.presentation-gauche hr{
    width: 60px;
    margin: 10px auto 20px auto;
}
.presentation-gauche p{
    text-align: justify;
}
/* ************** */
.presentation-droite{
    width: 600px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
}
.liste-presentation{
    list-style-type: none;
    padding: 10px 0 50px 110px;
}
.chiffre-style{
    font-family: 'abril fatface', sans-serif;
    font-size: 30px;   
}
.txt-liste{
    font-size: 25px;
    display: inline;
}
/* ********media presentation********** */
@media screen and (max-width: 1300px){
    .container-presentation{
        padding-left: 0px;
    }
    .titre-presentation{
        padding-left: 0px;
    }
 }
@media screen and (max-width: 1100px){
   .fond-forme{
       width: 100%;
       height: 150%;
       transform: rotate(0) translateY(0) translateX(0);
   }
   .titre-presentation{
       margin: 0 0 20px 0;
       padding-top: 50px;
   }
   .container-presentation{
    flex-direction: column;
   }
   .presentation-gauche{
        width: 80%;
        flex-shrink: 1;
        margin-bottom: 10px;
        padding: 20px 0;
   }
   .presentation-gauche h3{
        font-size: 20px;
        letter-spacing: 0px; 
   }
   .presentation-gauche p{
    font-size: 16px;
   }
   .presentation-droite{
        padding: 0 40px ;
   }
}
@media screen and (max-width: 700px){
    .container-presentation{
        margin-top: 10px;
        margin-bottom: 70px;
    }
    .titre-presentation{
        font-size: 24px;
        margin: 0 10px;
    }
    .presentation-gauche h3{
        font-size: 20px;
    }
    .chiffre-style{
       font-size: 30px;
    }
    .txt-liste{
       font-size: 17px;
    }
}
/* *******************Mes réalisation********************** */
.realisation{
    width: 100%;
}
.titre-realisation{
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
    padding-left: 300px;
}
.cont-realisation{
    width: 100%;
    height: auto;
    margin: 0 auto 100px auto;
    padding-left: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item{
    margin: 20px;
    width: 350px;
    height: 430px;
    background: #f0f2f0  ;
    color: #333;
    transition: transform 0.3s ease-out;
    box-shadow: 0 0 10px black;
}
.item:hover{
    transform: translateY(-5px)
}
.cont-img-realisation{
    width:  100%;
    height: 220px;
    overflow: hidden;
}
.cont-img-realisation img{
    width:  100%;
    height: auto;
    overflow: hidden;
}
.item h3{
    padding: 10px 10px 0;
    font-size: 22px;
}
.item p{
    padding: 10px 10px 0;
}
.btn-projets{
    display: block;
    margin: 50px 30px;
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #333;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.btn-projets::after{
    content: '';
    height: 240px;
    width: 100px;
    background: rgb(255,255,255,0.4);
    display: block;
    position: absolute;
    left: -150px;
    top: -50px;
    transform: rotate(-45deg);
}
.btn-projets:hover::after{
    transition: transform 0.3s 0.1s linear;
    transform: translateX(400px);
}
/* **************media realisation******************** */
@media screen and (max-width : 1300px) {
    .cont-realisation{
        padding-left: 0;
    }
    .titre-realisation {
        margin: 50px 0 70px;
        padding-left: 0;
        font-size: 40px;
    }
}

@media screen and (max-width: 500px){
    .titre-realisation {
        margin: 10px 0;
        padding: 30px 0;
    }
    .item{
        height: 420px;
    }
    .cont-img-realisation{
        height: auto;
    }
}
@media screen and (max-width : 340px) {
    .item{
        height: 380px;
    }
}


