*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:  sans-serif;
    background: #f1f1f1 ;
}
/* **************navigation******************* */
.navigation{
    width: 300px;
    height: 100vh;
    min-height: 800px;
    /* background: #333; */
    background-image: url("./ressources/baground-menus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px dashed #f1f1f1;
    z-index: 5;
}

.details-menu{
    width: 100%;
    height: 10%;
    /* le contenu sera centré en axe X et Y  */
    justify-content: center;
    display: flex;
    align-items: center;
}

.details-menu span{
    font-size: 19px;
    text-align: center;
    position: relative;
    font-weight: 700;
    cursor: pointer;
}
.details-menu span a{
    text-decoration: none;
    color: #f1f1f1;
}
/* animation sur les items de menu */
.details-menu span::after{
    content: '';
    display: block;
    width: 0px;
    margin: 5px auto 0 auto;
    height: 2px;
    background: #f1f1f1;
    transition: all 0.2s ;
}
.details-menu span:hover::after{
    width: 100%;
}
/* *************************************** */
/* .details-menu span a:hover{
    background: rgb(236, 231, 231);
    color: black;
    padding: 10px;
    border-radius: 5px;
} */
/* ****************photo**************************/
.details-menu:nth-child(1){
    width: 100%;
    height: 25%;
}
.photo{
    border-radius: 10%;
}
.icon-contact img{
    width: 60px;
}
/* *************************************************** */
@media screen and (max-width: 1300px) {
    .navigation{
        left: -300px !important;
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 300px;
        width: 250px;
    }
     /* a chaque fois selectionez le 7eme element a partir du premier */
     .details-menu:nth-child(7n+1){
        display: none;
    }
    .navigation{
        left: -300px !important;
    }
    .menu-visible{
        left: 0px !important;
    }
    .btn-rond{
        width: 70px;
        height: 70px;
        border: 1px solid #f1f1f1;
        border-radius: 50%;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cont-lignes{
        width: 35px;
        height: 35px;
        cursor: pointer;
        position: relative;
        top: 0;
        left: 0;
    }
    .btn-ligne-unique{
        width: 100%;
        height: 4px;
        background: #f1f1f1;
        position: absolute;
        top: 15px;
        bottom: 15px;
        border-radius: 5px ;
    }
    .btn-ligne-unique::after{
        content: '';
        height: 4px;
        position: absolute;
        width: 100%;
        top: 10px;
        background: #f1f1f1;
        border-radius: 5px ; 
    }
    .btn-ligne-unique::before{
        content: '';
        height: 4px;
        position: absolute;
        width: 100%;
        bottom: 10px;
        background: #f1f1f1;
        border-radius: 5px ; 
    }
    .active .btn-ligne-unique{
        background: transparent;
        color: #f1f1f1;
        font-size: 50px;
        top: -9px;   
    }
    .active .btn-ligne-unique::before{background: transparent;}
    .active .btn-ligne-unique::after{background: transparent;}
   
    .invisible{
        display: none;
    }
}
/* ************************accueil********************************* */
.accueil{
    background: url(./ressources/images1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 900px;
    background-position: right;
    width: calc (100% - 300px);
    margin-left: 300px;
    position: relative;
}
h1{
    font-size: 60px;
    font-family: 'Abril Fatface', sans-serif;
    color: #f1f1f1;
    margin: 0 60px;
    padding-top: 160px;
}

.txt-accueil{
    font-size: 30px;
    color: #f1f1f1;
    margin: 10px 0 10px 60px;
}
.btn-acc{
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background: url(./ressources/baground-menu.jpg);
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
    margin: 15px 5px 0 0;
    border-radius: 2px;
    border: 2px solid #f1f1f1;
    font-size: 18px;
}
.btn-acc:hover{
    transform: scale(1.06);
}
.medias{
    display: flex;
    margin: 30px 0 0 60px;
}
.icone-medias{
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.logo-btn-rond-acc{
    width: 70px;
    height: 70px;
    margin-left: 60px;
    bottom: 20px;
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(0, 89, 255);
    cursor: pointer;
}
.logo-btn-rond-acc:hover{
    transform: scale(1.1);
}
/* *************media Accueil************************** */

@media screen and (max-width: 1300px) {
    .accueil{
    width: 100%;
    background-position: cover;
    margin-left: 0;
    }
    .active .btn-ligne-unique {
        background: transparent;
        color: #f1f1f1;
        font-size: 50px;
        top: -16px;
        text-align: center;
    }
}
@media screen and (max-width: 1000px) {
    .accueil{
    height: 700px;
    min-height: 0;
    }
    h1{
        font-size: 70px;
        margin: 0 30px 0 30px;
        padding-top: 100px;
    }
    .txt-accueil{
        margin: 20px 0 20px 30px;
    }
    .btn-acc1{
        margin: 10px 0 0 0px;
    }
    .medias{
        margin-left: 30px;
    }
    .logo-btn-rond-acc{
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .accueil{
        height: 600px;
    }
    .h1{
        font-size: 50px;
        margin: 0 30px;
    }
    .txt-accueil{
        font-size: 20px;

    }
    .btn-rond{
        width: 60px;
        height: 60px;
    }
    .cont-lignes{
        width: 30px;
        height: 30px;
        top: 0;
        left: 0;
    }
    .btn-ligne-unique {
        width: 100%;
        height: 4px;
        background: #f1f1f1;
        position: absolute;
        top: 12px;
        bottom: 15px;
    }
    .media{
        width: 40px;
        height: 40px;
        width: 60px;
        height: 60px;
        background: #333;
        border-radius: 50%;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .active .btn-ligne-unique {
        background: transparent;
        color: #f1f1f1;
        font-size: 40px;
        top: -7px;
        text-align: center;
    }   
}
@media screen and (max-width: 500px) {
    .h1{
        font-size: 35px;
    }
    .txt-accueil{
        font-size: 16px;

    }
    .btn-rond{
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cont-lignes{
        width: 30px;
        height: 30px;
        top: 0;
        left: 0;
    }
    .btn-acc{
        width: 120px;
        font-size: 13px;
        margin: 10px 0 0 5px;
        height: 40px;
    }
    .media{
        width: 40px;
        height: 40px;
        width: 60px;
        height: 60px;
        background: #333;
        border-radius: 50%;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .icone-medias{
        border-radius: 50%;
        margin-right: 10px;
        width: 40px;
    }
    .btn-acc1{
        margin: 10px 0 0 30px;
    }
    .btn-acc3{
        margin: 10px 0 0 95px;
    }
    .btn-ligne-unique {
        width: 100%;
        height: 4px;
        background: #f1f1f1;
        position: absolute;
        top: 15px;
        bottom: 15px;
        border-radius: 5px;}
    .active .btn-ligne-unique {
        background: transparent;
        color: #f1f1f1;
        font-size: 40px;
        top: -7px;
        text-align: center;
    }
}
@media screen and (max-width: 450px) {
    .btn-rond{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cont-lignes{
        width: 20px;
        height: 38px;
    }
    .btn-ligne-uniques {
        height: 3px;
    }
    .btn-ligne-unique::before {
        bottom: 8px;
        height: 3px;
    }
    .btn-ligne-unique::after {
        top: 8px;
        height: 3px;
    }
    .accueil {
        height: 500px;
        text-align: center;
    }
    h1 {
        font-size: 35px;
        margin: 0 30px 0 5px;
        padding-top: 120px;
    }
    .txt-accueil {
        margin: 30px 0 0 5px;
    }
    .btn-acc {
        width: 100px;
        font-size: 12px;
        height: 35px;
        margin: 30px 0 0 5px;
    }
    .medias {
        margin-top: 30px;
        margin-left: 5px;
        justify-content: center;
    }
    .icone-medias {
        width: 40px;
    }
    .active .btn-ligne-unique {
        background: transparent;
        color: #f1f1f1;
        font-size: 40px;
        top: -7px;
        text-align: center;
    }
}
